streamlit>=1.43.2
requests>=2.32.3
openai>=1.66.3
graphviz>=0.20.3
google-generativeai>=0.8.4
mistralai>=1.5.1
pandas>=2.2.3
Markdown>=3.7
markdown-it-py>=3.0.0
pdfkit>=1.0.0
urllib3>=1.26.20
pydantic>=2.10.6
lmstudio>=1.2.0